body {
  margin: 0;
  padding: 0;
}

#faceOverlay {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: 5px solid red;
}

#faceOverlay div {
  color: white;
  font-family: monospace;
  font-size: 14px;
  margin: 10px 0 0 10px;
}

#CTA {
  color: white;
  position: absolute;
  background: blue;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#lottieContainer {
  width: 200px;
  height: 200px;
}

#lottieContainer #stroke {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 20px;
}

#lottieContainer #facePart1 #fill {
  fill: aqua;
}

#lottieContainer #facePart2 #fill {
  fill: pink;
}

#lottieContainer #facePart3 #fill {
  fill: green;
}

#lottieContainer #facePart4 #fill {
  fill: blue;
}

#lottieContainer #facePart5 #fill {
  fill: white;
}

#lottieContainer #facePart6 #fill {
  fill: red;
}
